<a href="https://colab.research.google.com/github/josephplpriest/mens_WR_mile_run/blob/master/example_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Goals for example project:

1. Use documentation for a small challenge.

2. Read/load in some data.

https://en.wikipedia.org/wiki/Mile_run_world_record_progression#:~:text=World%20Athletics%20is%20the%20official,the%20IAAF%20for%20record%20purposes.

https://raw.githubusercontent.com/josephplpriest/mens_WR_mile_run/master/mens_WR_mile_times.csv

3. Do some data cleaning.

4. Do some simple analysis.

In [ ]:
import json
import pandas as pd
import datetime as dt
import time

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/josephplpriest/mens_WR_mile_run/master/mens_WR_mile_times.csv")

data.head()

,Time,Auto,Athlete,Nationality,Date,Venue
0,*4:14.4*,NaN,John Paul Jones,United States,31 May 1913[5],"Allston, Mass."
1,*4:12.6*,NaN,Norman Taber,United States,16 July 1915[5],"Allston, Mass."
2,*4:10.4*,NaN,Paavo Nurmi,Finland,23 August 1923[5],Stockholm
3,*4:09.2*,NaN,Jules Ladoumègue,France,4 October 1931[5],Paris
4,*4:07.6*,NaN,Jack Lovelock,New Zealand,15 July 1933[5],"Princeton, N.J."

## Tasks:

### Easy:

Clean the asterisks from the time column? (pandas string methods to replace a character)

Remove meaningless columns? (drop a column in pandas)

Clean the date column of "[5]" (pandas string methods to strip characters for the right side of a string)


### Medium:

Convert the time column into total seconds.

How many *unique* WR holders have there been? (pandas unique items in a column)


### Hard:

Convert the date column to the datetime type.

What country has the most DIFFERENT record holders?

## Extra credit:

Visualize a line plot of Date (on the x axis) and Time on the y axis to show the historical change in WR times